{% extends 'base.html.twig' %}

{% block title %}New Softdeleteable{% endblock %}

{% block body %}
    <h1>Create new Softdeleteable</h1>

    {{ include('softdeleteable/_form.html.twig') }}

    <a href="{{ path('softdeleteable_index') }}">back to list</a>
{% endblock %}
