{% extends 'base.html.twig' %}

{% block title %}New RProduct{% endblock %}

{% block body %}
    <h1>Create new RProduct</h1>

    {{ include('r_product/_form.html.twig') }}

    <a href="{{ path('r_product_index') }}">back to list</a>
{% endblock %}
